; Set to 'production' for deployment and 'development' for dev
NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://<username>:<password>@<server-ip>:27017/<database>?authSource=<database>&replicaSet=rs0&directConnection=true
SMS_KEY=SMS_KEY_BY_YOUR_PROVIDER
SMS_URL=SMS_PANEL_URL
PHONE_NUMBER=PHONE_NUMBER_USED_TO_SEND_OTP
